=@restaurant.name
=@restaurant.description
- if @restaurant.reviews.any?
  -@restaurant.reviews.each do |r|
    =r.thoughts
    =r.rating
- else
  No reviews yet! Want to be the first to review?
  = link_to "click here", new_restaurant_review_path(@restaurant)
